<#@ template language="C#" #>
<#@ output extension="cs" #>
<#@ assembly  name="System.Core" #>
<#@ import namespace="System.Linq" #>

// 
//  Copyright 2011 Ekon Benefits
// 
//    Licensed under the Apache License, Version 2.0 (the "License");
//    you may not use this file except in compliance with the License.
//    You may obtain a copy of the License at
// 
//        http://www.apache.org/licenses/LICENSE-2.0
// 
//    Unless required by applicable law or agreed to in writing, software
//    distributed under the License is distributed on an "AS IS" BASIS,
//    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//    See the License for the specific language governing permissions and
//    limitations under the License.

using System;
using System.Collections.Generic;
using System.Diagnostics.CodeAnalysis;
using System.Linq;
using System.Runtime.CompilerServices;
using System.Reflection;

namespace Dynamitey.Internal.Optimization {

<# var cacheTypes = new []{"", "Get", "Set", "Constructor", "Member", "Direct"}; #>

<# foreach(var name in cacheTypes){ #>
    internal static class Binder<#=name#>Cache<T> where T : class
    {
        private static IDictionary<BinderHash<T>, CallSite<T>>? _cache;

        private static readonly object _cacheLock = new object();

        internal static IDictionary<BinderHash<T>, CallSite<T>> Cache
        {
            get
            {
                lock (_cacheLock)
                {
                    return _cache ?? (_cache = new Dictionary<BinderHash<T>, CallSite<T>>());
                }
            }
        }

        internal static readonly Action ClearCache = () =>
        {
            lock (_cacheLock)
            {
                _cache = null;
            }
        };
    }
<# } #>

    internal static partial class InvokeHelper
    {


        internal static readonly Type[] FuncKinds;
        internal static readonly Type[] ActionKinds;
		internal static readonly Type[] TupleKinds;

		internal static readonly IDictionary<Type,int> FuncArgs;
		internal static readonly IDictionary<Type,int> ActionArgs;
		internal static readonly IDictionary<Type,int> TupleArgs;

        static InvokeHelper()
        {
            FuncKinds = new []
                            {
<# for(int i=0; i <= 16; i++){ 
	var tCommas = String.Concat(Enumerable.Repeat(",",i));
#>
								typeof(Func<<#=tCommas#>>), //<#=i#>
<# } #>
                            };

            ActionKinds = new []
                            {
                                typeof(Action), //0
<# for(int i=1; i <= 16; i++){ 
	var tCommas = String.Concat(Enumerable.Repeat(",",i-1));
#>
								typeof(Action<<#=tCommas#>>), //<#=i#>
<# } #>
                            };

			TupleKinds = new []
                            {
<# for(int i=1; i <= 8; i++){ 
	var tCommas = String.Concat(Enumerable.Repeat(",",i-1));
#>
								typeof(Tuple<<#=tCommas#>>), //<#=i#>
<# } #>
                            };


			FuncArgs = FuncKinds.Zip(Enumerable.Range(0, FuncKinds.Length), (key, value) => new { key, value }).ToDictionary(k => k.key, v => v.value);
            ActionArgs = ActionKinds.Zip(Enumerable.Range(0, ActionKinds.Length), (key, value) => new { key, value }).ToDictionary(k => k.key, v => v.value);
			TupleArgs = TupleKinds.Zip(Enumerable.Range(1, ActionKinds.Length), (key, value) => new { key, value }).ToDictionary(k => k.key, v => v.value);

		
        }

		[RequiresUnreferencedCode("Reads tuple.ItemN/tuple.Rest through 'dynamic' member access; trimming can remove those properties from the tuple's concrete type.")]
		[RequiresDynamicCode("The 'dynamic' member access binds through the DLR, which requires runtime code generation; not supported when AOT-compiled.")]
		internal static dynamic TupleItem(dynamic tuple, int index){
			switch(index){
<# for(int i=1; i <= 7; i++){ #>
				case <#=i#>:
					return tuple.Item<#=i#>;
<# } #>
				default:
					return tuple.Rest;
			}
		}


        [RequiresUnreferencedCode("For an argument count with a generated fast-path case, builds/reuses a cached CallSite whose binder resolves a member by name; for any other count, falls back to Dynamic.InvokeCallSite. Trimming can remove the member being resolved.")]
        [RequiresDynamicCode("Every case binds through the DLR (and, past 14 arguments, emits a delegate type via Reflection.Emit); not supported when AOT-compiled.")]
        // binderType/binder/argNames are null exactly when callsite is already non-null (every
        // caller sets them together, gated on the same "is callsite null yet" check as this
        // method's own per-arity cases below) - so binderType!/binder! at each CreateCallSite call
        // only run on the branch where callsite was actually null and they were freshly supplied.
        internal static void InvokeMemberAction(ref CallSite? callsite,
		                                            Type? binderType,
													int knownType,
													LazyBinder? binder,
                                                    InvokeMemberName name,
													bool staticContext,
                                                    Type context,
                                                    string?[]? argNames,
                                                    object target,
                                                    params object [] args)
        {

            var tSwitch = args.Length;
            switch (tSwitch)
            {
#region Optimizations
<# for(int i=0; i <= 14; i++){ 
		var tobjectArgs = String.Join(",",Enumerable.Repeat(" object",i+1));
		var tArrayArgs = String.Concat(Enumerable.Range(0,i).Select(it=>String.Format(", args[{0}]",it)));
#>
                case <#=i#>:
                    {
						var tCallSite = (CallSite<Action<CallSite, <#=tobjectArgs#>>>?)callsite;
						if(tCallSite == null){
							tCallSite = CreateCallSite<Action<CallSite, <#=tobjectArgs#>>>(binderType!,knownType, binder!, name, context, argNames, staticContext);
						    callsite=tCallSite;
						}
                        tCallSite.Target(tCallSite, target<#=tArrayArgs#>);
                        break;
                    }
<# } #>
#endregion
                default:
                    var tArgTypes = Enumerable.Repeat(typeof(object), tSwitch);
                    var tDelegateType = EmitCallSiteFuncType(tArgTypes, typeof(void));
                    Dynamic.InvokeCallSite(CreateCallSite(tDelegateType, binderType!,knownType, binder!, name, context, argNames), target, args);
                    break;

            }
        }

        

       

	




        [RequiresUnreferencedCode("For an argument count with a generated fast-path case, builds/reuses a cached CallSite whose binder resolves a member by name; for any other count, falls back to Dynamic.InvokeCallSite. Trimming can remove the member being resolved.")]
        [RequiresDynamicCode("Every case binds through the DLR (and, past 14 arguments, emits a delegate type via Reflection.Emit); not supported when AOT-compiled.")]
        // See InvokeMemberAction above for why binderType/binder are nullable and suppressed
        // with `!` below rather than threaded through as `?`.
        internal static TReturn InvokeMemberTargetType<TTarget,TReturn>(
										ref CallSite? callsite,
										Type? binderType,
										int knownType,
										LazyBinder? binder,
                                       InvokeMemberName name,
									 bool staticContext,
                                     Type context,
                                     string?[]? argNames,
                                     TTarget target, params object [] args)
        {

        

            var tSwitch = args.Length;

            switch (tSwitch)
            {
#region Optimizations
<# for(int i=0; i <= 14; i++){ 
		var tobjectArgs = String.Join(",",Enumerable.Repeat(" object",i).Concat(new[]{"TReturn"}));
		var tArrayArgs = String.Concat(Enumerable.Range(0,i).Select(it=>String.Format(", args[{0}]",it)));
#>
                case <#=i#>:
                    {
					    var tCallSite = (CallSite<Func<CallSite, TTarget, <#=tobjectArgs#>>>?)callsite;
					    if(tCallSite==null){
							 tCallSite = CreateCallSite<Func<CallSite, TTarget, <#=tobjectArgs#>>>(binderType!,knownType,binder!, name, context, argNames, staticContext);
							 callsite =tCallSite;
						}
                        return tCallSite.Target(tCallSite, target<#=tArrayArgs#>);
                    }
<# } #>
#endregion
                default:
                    var tArgTypes = Enumerable.Repeat(typeof(object), tSwitch);
                    var tDelegateType = EmitCallSiteFuncType(tArgTypes, typeof(TReturn));
                    // target/the return value are TTarget/TReturn - unconstrained generics are
                    // nullable-oblivious, but InvokeCallSite's own object/dynamic? signature isn't;
                    // the `!`s bridge that without asserting anything actually new.
                    return (TReturn)Dynamic.InvokeCallSite(CreateCallSite(tDelegateType, binderType!,knownType, binder!, name, context, argNames), target!, args)!;

            }
        }

     




		[RequiresUnreferencedCode("For an argument count with a generated fast-path case, wraps invokable in a Func by invoking it through 'dynamic'; for any other count, falls back to Dynamic.Invoke. Trimming can remove the member either path resolves.")]
		[RequiresDynamicCode("Both the 'dynamic' invocation and Dynamic.Invoke bind through the DLR, which requires runtime code generation; not supported when AOT-compiled.")]
		internal static Delegate WrapFuncHelper<TReturn>(dynamic invokable, int length)
        {
			 switch(length){
#region Optimizations
			 <# for(int i=0; i <= 16; i++){ 
				var tobjectArgs = String.Join(",",Enumerable.Repeat(" object",i).Concat(new[]{" TReturn"}));
  				var tArgList = String.Join(",",Enumerable.Range(0,i).Select(it=>"a"+(it+1)));
#>  					case <#=i#>:
						return new Func<<#=tobjectArgs#>>((<#=tArgList#>)=> invokable(<#=tArgList#>));
<# } #>
#endregion	
				default:
					return new DynamicFunc<TReturn>(args=>(TReturn)Dynamic.Invoke((object)invokable,args)!);
			}
        }

        [RequiresUnreferencedCode("For an argument count with a generated fast-path case, wraps invokable in an Action by invoking it through 'dynamic'; for any other count, falls back to Dynamic.InvokeAction. Trimming can remove the member either path resolves.")]
        [RequiresDynamicCode("Both the 'dynamic' invocation and Dynamic.InvokeAction bind through the DLR, which requires runtime code generation; not supported when AOT-compiled.")]
        internal static Delegate WrapAction(dynamic invokable, int length)
        {
           	 switch(length){
#region Optimizations
				    case 0:
					    return new Action(()=>invokable());
<# for(int i=1; i <= 16; i++){ 
				var tobjectArgs = String.Join(",",Enumerable.Repeat(" object",i));
				var tArgList = String.Join(",",Enumerable.Range(0,i).Select(it=>"a"+(it+1)));
#>  					case <#=i#>:
						return new Action<<#=tobjectArgs#>>((<#=tArgList#>)=> invokable(<#=tArgList#>));
<# } #>
#endregion		
				default:
					return new DynamicAction(args=>Dynamic.InvokeAction((object)invokable,args));
			}
        }


        [RequiresUnreferencedCode("For a known argument count, invokes del through a 'dynamic' reference; trimming can remove the member the DLR resolves.")]
        [RequiresDynamicCode("The 'dynamic' invocation binds through the DLR, which requires runtime code generation; not supported when AOT-compiled.")]
        internal static object? FastDynamicInvokeReturn(Delegate del, dynamic [] args)
        {
            dynamic tDel =del;
            switch(args.Length){
                default:
                    try
                    {
                        return del.DynamicInvoke(args);
                    }
                    catch (TargetInvocationException ex)
                    {
                        // InnerException is nullable in general, but TargetInvocationException
                        // always sets it; if it were ever null this rethrows exactly as before
                        // nullable was enabled - `throw` on a null expression raises a
                        // NullReferenceException rather than silently doing nothing.
                        throw ex.InnerException!;
                    }
#region Optimization
<# for(int i=1; i <= 16; i++){ 
	var tArgs = String.Join(",",Enumerable.Range(0,i).Select(it=>String.Format("args[{0}]",it)));
#>				case <#=i#>:
                    return tDel(<#= tArgs #>);
<# } #>
#endregion
            }
        }

        [RequiresUnreferencedCode("For a known argument count, invokes del through a 'dynamic' reference; trimming can remove the member the DLR resolves.")]
        [RequiresDynamicCode("The 'dynamic' invocation binds through the DLR, which requires runtime code generation; not supported when AOT-compiled.")]
        internal static void FastDynamicInvokeAction(Delegate del, params dynamic [] args)
        {
            dynamic tDel =del;
            switch(args.Length){
                default: 
					try
                    {
						del.DynamicInvoke(args);
					}
					catch (TargetInvocationException ex)
                    {
                        // See the InnerException comment in FastDynamicInvokeReturn above.
                        throw ex.InnerException!;
                    }
                    return;
#region Optimization
<# for(int i=1; i <= 16; i++){ 
	var tArgs = String.Join(",",Enumerable.Range(0,i).Select(it=>String.Format("args[{0}]",it)));
#>				case <#=i#>:
                    tDel(<#= tArgs #>);
                    return;
<# } #>
#endregion
            }
        }
    }
}
